<footer class='container-fluid'>
    <div class="row">
        <div class='col-12'>
            <div class="contact">
                <ul>
                    <li>email: admin@fakechecc.com</li>
                    <li>mobile: +91 6942069420</li>
                    <li>twitter: @fakechecc</li>
                </ul>
            </div>
            <div class="credits">
                <ul>
                    <li>Resources Credits</li>
                    <li>subscribe</li>
                </ul>
            </div>
            <div class="info">
                <ul>
                    <li>contact us</li>
                    <li>about us</li>
                </ul>
            </div>
        </div>
    </div>
</footer>