<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="sign-up-form">

                <div class="user-image">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <img src="../../assets/ui/Add User-pana.png" alt="">
                </div>
                <div class="head">
                    <h2>Sign-up</h2>
                </div>
                <div class="form-container">
                    <form action="" #signForm='ngForm' (submit)='sign_up(signForm)'>
                        <div class="form-group">
                            <label for="firstName" class="form-label">first name</label>
                            <div class="input-box">
                                <i class="fa fa-address-book" aria-hidden="true"></i>
                                <input type="text" name="firstname" id='firstNameInput' placeholder="First Name" pattern="[a-zA-Z]* *" class='form-control' aria-label="first name" #firstName="ngModel" [(ngModel)]='valueFirstName' required ngModel>
                            </div>
                            <span *ngIf="firstName.invalid && firstName.touched" class='error'>
                                please enter valid first name...
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="lastName" class="form-label">last name</label>
                            <div class="input-box">
                                <i class="fa fa-address-book" aria-hidden="true"></i>
                                <input type="text" name="lastname" id='lastNameInput' placeholder="Last Name"  class='form-control' aria-label="last name" #lastName="ngModel" [(ngModel)]='valueLastName' pattern="[a-zA-Z]* *" required ngModel>
                            </div>
                            <span *ngIf="lastName.invalid && lastName.touched" class='error'>
                                please enter valid last name...
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="email" class='form-label' aria-label="email">email</label>
                            <div class="input-box">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="text" class='form-control' placeholder="enter email" name="email" #email="ngModel" aria-label="email" [(ngModel)]="valueEmail"  pattern ="[a-zA-Z0-9.]+@[a-zA-Z]+\.[a-zA-Z]+" required email ngModel>
                            </div>
                            <span *ngIf="email.invalid && email.touched" class='error'>
                                please enter valid email...
                            </span>
                        </div>
                       
                        <div class="form-group">
                            <label for="password" class='form-label'  aria-label="password">password</label>
                            <div class="input-box">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <input type="password" class='form-control'  #password="ngModel" placeholder="enter Password"  name="password" aria-label="password" [(ngModel)]='valuePassword' pattern="[a-zA-Z0-9@\*#!]{8,15}" required  ngModel>
                            </div>                       
                            <span *ngIf="password.invalid && password.touched" class='error'>
                                 Please enter valid password(min-8 characters && max-15 characters)...
                            </span>
                        </div>

                        <!--<div class="form-group">
                            <label for="confirmPassword" class='form-label'  aria-label="password"></label>
                            <div class="input-box">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <input type="password" class='form-control'  placeholder="confirm password"  name="confirmPassword" aria-label="confirm password" #confirmPassword="ngModel" [(ngModel)]='valueConfirmPassword' required ngModel>
                            </div>                       
                            <span *ngIf="confirmPassword.value != password.value" class='error'>
                                the password doesn't match...
                            </span>
                        </div>-->
                    
                        <button type='submit' [disabled]='signForm.invalid' class='btn text-white mt-3 py-md-2 px-lg-5 px-4'>
                            <i class='fa fa-sign-in px-1' aria-hidden='true'></i>
                            Sign-up
                       </button>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
