@import '../../styles.scss';


.container-fluid{
    background-image: linear-gradient(to right bottom, #6f4a8e, #594079, #443564, #322a50, #221f3b);
    //background:whitesmoke;
}


.posts{
    @include flex-assign(column,flex-start, center);
    width:50%;
    min-height:98vh;
    margin:0px auto;
    padding-top:8vh;
    padding-left:2vw;
    padding-right:2vw;
    font-size:18px;
   // background:rgba(255,255,255,0.9);
}

.post{
    width:100%;
    min-height:100px;
    padding:20px 10px;
    padding-top:5px;
    margin-bottom:5px;
    background:rgba(255,255,255,0.85);
    border-radius: 20px;
   // box-shadow:2px 3px 5px rgba(0,0,0,0.2);

    //border:1px solid black;
}

.post-meta-container{
    @include flex-assign();
    justify-content: space-between;
    //background:$danger;
   // color:white;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius:10px;
    //background-image: linear-gradient(to right bottom, #6f4a8e, #594079, #443564, #322a50, #221f3b);
    .meta-details{
        @include flex-assign();
    }
    .meta-pic{
        width:40px;
        height:40px;
    }
    .meta-name{
        font-size:1.2rem;
        padding-left:1.5rem
    }
    .misc-menu{
        margin-right:10px;
        cursor:pointer;
    }
    .misc-menu:hover span{
        background:black;
    }
    .misc-menu span{
        content:"";
        display:inline-block;
        height:9px;
        width:9px;
        border-radius: 50%;
        background:rgba(0,0,0,0.6);
        margin:0px 2px;
    }
}

.post-details-container{
    padding:5px;
    text-align: justify;
    letter-spacing: 1px;

    .expand-post{
        color:blue;
        cursor: pointer;
    }
    
}

.post-reactions-container{
    @include flex-assign();
    .react-1, .react-2{
        flex-grow: 1;
        text-align: center;
        font-size:1rem;
        letter-spacing:1px;
        font-weight: bolder;
        padding:5px;
        cursor: pointer;
        color:white;
        border:1px solid whitesmoke;
        margin:10px auto;
        position:relative;
    }

    .react-1::after, .react-2::after{
        content: "";
        position:absolute;
        top:106%;
        width:0%;
        height:5px;
        left:0px;
        transition: 0.3s ease-in-out;
    }
    .react-1::after{
        background:$btn-color;
    }
    .react-2::after{
        background:$danger;
    }
    .react-1:hover::after, .react-2:hover::after{
        width:100%;
    }
      
    .react-1{
        background:$btn-color;
    }
    .react-2{
        background:$danger; 
    }
}

.comment-box{
    //padding:10px;
    @include flex-assign();
    height:50px;
    form{
        @include flex-assign();
        //border-radius:20px;
        overflow:hidden;
        flex-grow: 1;
        //background:white;
    }
    .form-group{
        flex-grow: 2;
       
    }
    input{
        width:100%;
        border-radius:20px;
        padding:2px 15px;
        letter-spacing:1px;
       // border:0px;
    }
    input:focus{
        box-shadow: none;
    }
    .comment-btn{
        padding:0px;
        text-align: center;
        width:40px;
        height:40px;
        margin-left:3px;
        font-size:1em;
        letter-spacing: -1px;
        border-radius: 50%;
        font-weight:bold;
        background:$dark;
        color:white;
        transform-origin: center;
        transition:width height 0.2s ease-in-out;
    }
    .comment-btn:hover{
        width:43px;
        height:43px;
        cursor:pointer;
    }
}


@media screen and (max-width:1300px){
    .posts{
        width:60%;
    }
}

@media screen and (max-width:1100px){
    .posts{
        width:70%;
    }
}

@media screen and (max-width:700px){
    .posts{
        width:100%;
        padding:50px 5px;
    }
    .post{
        border-radius: 0px;
    }
    .comment-box{
        height:unset;
        min-height:10px;
        padding:0px;
        .comment-btn{
            transform: scale(0.8);
        }
        form{
            justify-content: center;
            align-items: center;
            padding:0px;
        }
        .form-group{
            margin:0px;
        }
    }
}

@media screen and (max-width:450px){
  
    .posts-container{
        padding:0px !important;
    }

    .post-details-container{
        p{
            font-size:0.9em;
        }
    }
}